.prose {
  img {
    @apply max-w-3xl max-lg:max-w-full;
  }

  :where(pre):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    position: relative;
    background-color: #3f3f46;
  }

  :where(pre code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    @apply whitespace-pre-wrap;
  }

  :where(code[class~='highlight']) {
    background-color: var(--accent-a5);
  }
}
